* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    list-style: none;
    background-color: #0c29d0;
    justify-content: center;

}

a {
    color: rgb(41, 206, 49);
    font-family: Arial, Helvetica, sans-serif;
}

.menu li a {
    color: white;
    padding: 3rem;
    margin: 0 auto;
    text-decoration: none;
}


td a {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.button_ {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.team_list{
    width: 100%;
    color: #000000;
    margin: auto;
    text-align: center;
}

.team_list table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.team_list td, th {
    padding: .7em;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
}

.team_list th{
    background-color: #0c29d0;
    color: #ffffff;

td a, div.menu a, .action {
    text-decoration: none;
    color: #0c29d0;

}